<!DOCTYPE html>
<html>
<head>
  <title>Snap Gallery</title>
  <link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/util.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
</head>
<body>
  <h1>Snap Gallery</h1>
  <button id="get_json" type="button">Get JSON</button>
<body>
</html>